/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/ 
body{
	margin:0;
	background:url(../images/bg-body.gif);
	height:3000px;
}
.page{
	background:url(../images/bg-header.jpg) no-repeat center top;
}

/*------------------------- Font ------------------------*/ 
@font-face {
    font-family: 'RokkittRegular';
    src: url('../fonts/rokkitt-regular-webfont.eot');
    src: url('../fonts/rokkitt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rokkitt-regular-webfont.woff') format('woff'),
         url('../fonts/rokkitt-regular-webfont.ttf') format('truetype'),
         url('../fonts/rokkitt-regular-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------------------------- Header ------------------------*/ 
.header{
	background:url(../images/bg-header.gif) repeat-x;
	height:68px;
    padding:30px 0 0;
}
.header div{
	width:940px;
	padding:0 10px;
	margin:0 auto;
	overflow:hidden;
}
.header div a#logo{
	display:block;
	float:left;
	outline:none;
}
.header div a#logo img{
	border:0;
}
.header div ul{
	margin:0;
	list-style:none;
	padding:13px 0 0;
	float:right;
}
.header div ul li{
	float:left;
	margin:0 0 0 20px;
}
.header div ul li a:hover{
	color:#3b7193;
}
.header div ul li.selected a{
	font-weight:bold;
	color:#3b7193;
}
.header div ul li:first-child a{
	background:none;
}
.header div ul li a{
	font-size:16px;
	text-shadow: 0 1px 0 #d1e6f7;
	text-decoration:none;
	color:#6cb2e6;
	font-family: 'RokkittRegular';
	outline:none;
	background:url(../images/interface.gif) no-repeat left 0;
	padding:0 0 0 20px;
}

/*------------------------- Body ------------------------*/ 
.body{	
	background:url(../images/bg-content.gif) repeat-x #90C5E7;
	background-color: #90C5E7;
}

/*------------------------- Footer ------------------------*/ 
.footer{
	width:auto;
	background:url(../images/bg-footer.gif) repeat-x left top;
	padding:45px 0 105px;
	margin:0 auto;
	overflow:hidden;
}
.footer div{
	width:960px;
	margin:0 auto;
	overflow:hidden;
}
.footer div ul{
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
	float:left;
}
.footer div ul li{
	margin:0 0 5px;
}
.footer div ul li a:hover{
	color:#6CB2E6;
}
.footer div ul li a{
	color:#d5ebf8;
	font-size:18px;
	font-family: 'RokkittRegular';
	text-decoration:none;
	outline:none;
	line-height:35px;
}
.footer div p{
	color:#22323f;
	font-size:12px;
	font-family:arial;
	float:left;
	margin:0 0 0 65px;
	width:555px;
	text-align:justify;
	text-shadow: 0 1px 0 #99abb9;
	line-height:21px;
}
.footer div p a{
	color:#fff;
}
.footer div div.connect{
	float:left;
	margin:0 0 0 50px;
	width:auto;
	height:150px;
	background:url(../images/interface.gif) no-repeat left -33px;
}
.footer div div.connect a:hover{
	color:#3d4f5b;
}
.footer div div.connect a{
	outline:none;
	height:28px;
	width:auto;
	text-decoration:none;
	margin:10px 0 0 45px;
	font-family:arial;
	color:#fff;
	font-weight:bold;
	text-shadow:0 1px 0 #546a77;
	text-transform:capitalize;
	font-size:14px;
}
.footer div div.connect a#facebook{
	display:block;
	background:url(../images/icons.gif) no-repeat 0 -48px;
	line-height:25px;
    padding:0 0 0 80px;
	margin-bottom: 25px;
}
.footer div div.connect a#twitter{
	display:block;
	background:url(../images/icons.gif) no-repeat 0 -96px;
	line-height:25px;
	padding:0 0 0 90px;
}
.footer div div.connect a#vimeo{
	display:block;
	background:url(../images/icons.gif) no-repeat;
	line-height:25px;
	padding:0 0 0 90px;
	margin-bottom:25px;
}
.footer div p.footnote{
	text-shadow: 0 1px 0 #99abb9;
	color:#3e505c;
	clear:both;
	text-align:center;
	margin:0;
	float:none;
	width:auto;
	font-size:10px;
	font-family:trebuchet MS;
	font-weight:bold;
	padding:30px 0 0;
}



